<h1>Editing Employee Record</h1>

<%= render "form", list: @list %>

<br></br>

<div>
  <%= link_to "Show this Record", @list, class:"btn btn-secondary" %>   <br></br>
  <%= link_to "Back to Records", lists_path, class:"btn btn-secondary" %>
</div>
